



body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

footer {
  /* height: 10vh; */
}

.bg-img-1 {
  background-image: url(dimRatioTest.jpg);
  background-size: cover;
}

.text-shadow {
  text-shadow: 2px 2px #353535;
}

.font-brand {
  font-family: 'Red Rose', cursive;
}

.move-bottom {
  bottom: -30%;
}

      @media only screen and (max-width: 768px) {
        .move-bottom {
          bottom:0%;
        }
      }